body{
    margin: 0px;
}

.menu {
    background-color: #34465B;
    display: flex;
}

.menu a {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    padding: 25px;
    position: relative;
}

.sub-menu {
    background-color: white;
    display: flex;
    flex-direction: row;
    position: absolute;
    left: 0;
    width: 800px;
    display: none;
    
}

.column{
    display: flex;
    flex-direction: column;
}

p {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 20px 20px 20px;
    border-color: transparent transparent #87CEFA transparent;
    margin-left: 150px;
    margin-bottom: -2px;
    margin-top: -2px;

}

.link1:hover .sub-menu {
    display: flex;
    
}

.sub-menu a {
    text-align: center;
    display: inline-block;
    background-color: lightskyblue;
}

.sub-menu a:hover {
    background-color: orangered;
}