* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body {
    font-family: "Roboto", "segoe ui", Helvetica, Arial, sans-serif;
}

.header{
    max-width: 100%;
    width: 1366px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 150px;
    background-color: #6c7083;

}

.header .logo a{
    font-size: 20px;
    text-decoration: none;
    color: white;
    letter-spacing: 1.5px;
}

.header .menu{
    width: 300px;
    display: flex;
    justify-content: space-between;
}

.header .menu a{
    text-decoration: none;
    color: white;
    transition: all 0.3s;
    font-size: 14px;
}

.header .menu a:hover{
    color: #121520; 
}
    

.hello {
    display: flex;
    height: 100vh;
    margin: auto;
    justify-content: space-around;
    align-items: center;
    padding: 70px;
    background-color: #121520;
    color: #F6F6F6;
}

.hello .intro h1 {
    font-size: 50px;
    margin-bottom: 10px;
}

.hello .intro p {
    font-size: 22px;
    font-weight: lighter;
    color: #EA4A6B;
}

.hello .picture img {
    height: 500px;
    border: 7px solid;
    border-radius: 5px;
}

.about-me {
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 1000px;
    color: #121520;

}

.about-me .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100px;
    line-height: 70px;
}

.about-me .title h2 {
    font-size: 36px;
    font-weight: lighter;
}

.about-me .title .line {
    background-color: #EA4A6B;
    width: 70px;
    height: 5px;
}

.about-me .content {
    text-align: center;
    margin: 40px;
    width: 600px;
}

.about-me .content img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    filter: brightness(80%);
    transition: all 0.3s;
}

.about-me .content p {
    margin-top: 20px;
    font-size: 16px;
    color: #6c7083;
    font-weight: lighter;

}

.edu {
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    align-items: center;
    color: #F6F6F6;
    background-color: #121520;
    padding-top: 80px;

}

.edu .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100px;
    line-height: 70px;
}

.edu .title h2 {
    font-size: 36px;
    font-weight: lighter;
}

.edu .title .line {
    background-color: #EA4A6B;
    width: 70px;
    height: 5px;
}

.edu-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 1140px;
    height: 700px;
    margin: 40px;
    margin-bottom: 60px;
}

.edu-content .timeline {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-end;
    margin-right: 430px;
}

.edu-content .timeline .time {
    width: 150px;
    height: 150px;
    margin-right: 80px;
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #121520;
    background-color: #F6F6F6;
    font-size: 18px;
    line-height: 26px;
    font-weight: lighter;
    padding: 25px;
}

.edu-content .text {
    line-height: 26px;
    padding-top: 35px;
    width: 200px;

}

.edu-content .text h3 {
    margin-top: 0;
    text-transform: uppercase;
    font-size: 18px;
    color: #6c7083;
}

.edu-content .text h4 {
    text-transform: none;
    color: #EA4A6B;
    font-size: 22px;
    letter-spacing: 1px;
}

.edu-content .timeline:nth-child(2) .text {
    position: absolute;
    left: 330px;
    text-align: right;
}

.edu-content .timeline:nth-child(2) .time {
    position: relative;
    right: 200px;
}

.contact {
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    align-items: center;
    background-color: #F6F6F6;
    padding-top: 90px;
}

.contact .contact-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100px;
    line-height: 70px;
}

.contact-title h2 {
    font-size: 36px;
    font-weight: lighter;
}

.contact-title .line {
    background-color: #EA4A6B;
    width: 70px;
    height: 5px;
}

.contact .contact-address {
    display: flex;
    justify-content: space-around;
    text-align: center;
    width: 730px;
    margin-top: 40px;
    margin-bottom: 50px;
}

.contact-address .option {
    flex-basis: 20%;

}

.contact-address .option i {
    font-size: 28px;
    margin-bottom: 15px;

}

.contact-address .option p {
    font-size: 14px;
    font-weight: lighter;
}

.contact .message {
    width: 800px;
    border-radius: 4px;
    padding: 40px 60px;
    text-align: center;
    background-color: #121520;
    color: #F6F6F6;
}

.contact .message p {
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 30px;
}

.contact .message .line {
    display: flex;
    justify-content: space-between;

}

.contact .message .line input {
    flex-basis: 47%;
    padding: 10px;
    border-radius: 2px;
    border: none;
}

textarea {
    font-family: 'Roboto', sans-serif;
    border: none;
    width: 100%;
    padding: 10px;
    border-radius: 2px;
}

button {
    display: block;
    margin: auto;
    border-radius: 0%;
    padding: 15px 20px;
    font-weight: lighter;
    font-size: 12px;
    border: none;
    margin-top: 30px;
    transition: all 0.2s;
}

button:hover {
    background-color: #6c7083;
    color: white;
}

.media {
    display: flex;
    width: 250px;
    height: 100px;
    margin: auto;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;


}

.media a {
    text-decoration: none;
    color: #121520;
    font-size: 28px;
}

.back-to-top i {
    font-size: 28px;
    color: white;
    border-radius: 50%;
    border: none;
    background-color: #EA4A6B;
    padding: 10px 11px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    float: right;
    transition: all 0.3s;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
}

.back-to-top i:hover{
    background-color: #6c7083;
}

