* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
   
}

.container{
    width: 1550px;
    margin: auto;
    padding: 20px 40px;
  
}


.text-title{
    font-size: 50px;
    font-weight: bolder;
    margin-top: 50px;
    color: #7C57B5;
}

.text hr{
    width:70px;
    color: #7C57B5;
    margin-top: 20px;
}

.text-script{
    color: #5B4A74;
    font-size: 20px;
    padding-right: 900px;
    margin-top: 20px;
    align-content: space-between;
}

.cata{
    margin-top: 30px;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   
}

.cata .purple{
    flex-basis: 33.33%;
    
}

.cata .purple-item{
    background-color:  #7C57B5;
    color: white;
    padding: 30px;
    text-align: left;
    justify-content: center;
    height: 345px;
    width: 324px;
    flex-direction: column;
    align-items: flex-start;
}

.cata .purple i{
    font-size: 70px;
    color: white;
    margin-bottom: 20px;
}

.cata .purple h1{
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: bolder;
}

.cata .purple p{
    margin-bottom: 20px;
    font-size: 20px;
    color: #D1BFEC;
}

.cata .yellow{
    flex-basis: 33.33%;
}

.cata .yellow-item{
    background-color: #F1C63E;
    color: white;
    padding: 30px;
    text-align: left;
    justify-content: center;
    height: 345px;
    width: 324px;
    flex-direction: column;
    align-items: center;
}

.cata .yellow i{
    font-size: 70px;
    margin-bottom: 20px;
}

.cata .yellow h1{
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: bolder;
}

.cata .yellow p{
    margin-bottom: 20px;
    font-size: 20px;
}

.cata .white{
    flex-basis: 33.33%;
}

.cata .white-item{
    background-color: white;
    color: #7C57B5;
    padding: 30px;
    text-align: left;
    justify-content: center;
    height: 345px;
    width: 324px;
    border: #7C57B5 10px solid;
    flex-direction: column;
    align-items: flex-end;

}

.cata .white i{
    font-size: 70px;
    margin-bottom: 20px;
}

.cata .white h1{
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: bolder;
}

.cata .white p{
    margin-bottom: 20px;
    font-size: 20px;
    
}

.down{
    background-color: #7C57B5;
    color: white;
    padding: 30px 50px 20px 50px;
    margin-top: 30px;
    width: 1360px;
    
}

.para{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.para .left{
    flex-basis: 20%;
}


.icon{
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

i{
    margin-right: 10px;
}
