* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    margin: auto;
    display: flex;
    height: 550px;
    width: 1100px;
}

.left {
    background-color: #F2F2F2;
    padding: 30px;
    width: 500px;
    flex-direction: column;
    justify-content: center;
}

.left h2 {
    font-size: 34px; 
    letter-spacing: 3px;
    font-weight: normal;

}

.left p {
    margin-top: 20px;
    margin-bottom: 25px;
}

.left .line {
    display: flex;
}

.left .line input {
    flex-basis: 50%;
    padding: 10px;
    background-color: #F2F2F2;
}

.left .line input:first-child {
    margin-right: 20px;
}

/* #space{
    width: 40%;
    padding: 10px 12px;  
    border: none;
    border-bottom: 2px solid ; 
    margin-right: 30px;
} */

#box {
    margin-top: 10px;
}


button,
textarea {
    display: block;
    margin-top: 20px;
}

textarea {
    font-family: 'Roboto', sans-serif;
    border: none;
    border-bottom: 2px solid;
    width: 100%;
    background-color: #F2F2F2;
    padding: 10px;
}

button {
    border-radius: 0%;
    padding: 10px 30px;
    font-weight: bold;
    font-size: 15px;
    border: 2px solid black;
    margin-top: 30px;
}

button:hover {
    background-color: black;
    color: white;
}

.right {
    width: 500px;
    margin: auto;
    align-items: center;
    padding-top: 30px;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.up{
    flex-basis: 50%;
    font-size: 18px;
}


.up .first {
    font-weight: bold;
    margin-bottom: 30px;
}

.up .second {
    margin-bottom: 80px;
    font-weight: lighter;
}

.down {
    flex-basis: 50%;
    display: flex;
    
}

.third {
    letter-spacing: 2px;
    font-size: 16px;
    font-weight: lighter;
    justify-content: left;
    align-items: center;
    padding-top: 50px;

}

.down img{
    width: 200px;
    height: 200px;
    
}