* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

.form{
    width: 600px;
    border: none;
    margin: auto;
    padding: 20px;
    text-align: left;
}

.form .pic{
    display: flex;
    margin: auto;
    position: relative;
    z-index: 3;
    align-items: center;
    justify-content: center;  
    margin: 30px
}

.form .info{
    background-color: #F2F2F2;
    color: black;
    padding: 20px 20px; 
    margin: auto;
}

h1{
    padding-bottom: 15px;
}

h2{
    padding-bottom: 15px; 
    font-weight: lighter;
    font-size: 18px;
}

p{
    margin-bottom: 20px;
}

.info i{
    margin-left: 10px;  
    font-size: 25px; 
}