* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.5px;
}

.container{
    margin: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    
}

.text{
    text-align: center;
    padding: 20px 520px;
}

.text h1{
    font-size: 24px;
}

.text p{
    margin-top: 20px;
    color: rgb(107, 106, 106);
    font-size: 14px;
}

.card{
    width: 300px;
    height: 400px;
    text-align: center;
    display: flex;
    flex-direction: column;
    position: relative;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.3);
}

.above{
    position: relative;
    height: 240px;
}

.circle{
    background-color:orangered;
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 12px;
    font-weight: bolder;
    padding: 25px;
    position: absolute;
    right: 20px;
    top: 20px;
}

img{
    width: 300px;
    height: 240px;
    flex-wrap: wrap;
}

.box{
    background-color:orangered;
    color: white;
    font-size: 12px;
    font-weight: bolder;
    padding: 8px 12px;
    width: 80px;
    text-align: center;
    position: absolute;
    bottom: 0px;
}

.below{
    text-align: left;
    padding: 30px 20px;
}

.below h2{
    text-transform: capitalize;
    font-size: 20px;
    margin-bottom: 10px;
}

.below h3{
    font-size: 16px;
    font-weight: lighter;
    color: orangered;
    margin-bottom: 20px;

}

.below p{
    display: none;
    font-size: 14px;
    margin-bottom: 20px;
    color: rgb(107, 106, 106);
}

.below i, span{
    display: inline-bloc;
    font-size: 14px;
    color: rgb(107, 106, 106);
    margin-top: 10px;
}


.card:hover .below p{
    display: flex;
}

.card:hover .above{
    height: 150px;
}

.card:hover img{
    filter: brightness(50%);
}

.card:hover .below{
    background-color: white;
    z-index: 1;
    padding: 20px;
    object-fit: cover;
}

.card:hover .below i, span{
    margin-top: 10px;
}

